.Formulario {
  width: 100%;
  text-align: center;
  background-color: #282c34;
}


.Cont-Form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 200px;
  height: 300px;
  background: #09163B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
}

label{
  color: white;
  padding: 10px 20px;
}